[flake8]
ignore = W50, E203, E501  # error strings, docs and preferred style
exclude = .flake8,.git,__pycache__
per-file-ignores =
    # multiple settings
    chapters_api/settings/*: F401, F403, F405
